@media (max-width:768px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 375px
  }
  .style0 {
    margin-left: 43px;
    margin-top: 34px;
    width: 83px;
    height: 85px
  }
  .style1 {
    background-color: #42aed2;
    border-left: 0 solid #000;
    border-right: 0 solid #000;
    border-top: 0 solid #000;
    border-bottom: 0 solid #000;
    box-shadow: 0 1px 5px 1px rgba(0,0,0,.2),0 2px 2px 1px rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12);
    color: rgba(255,255,255,.85);
    margin-left: 26px;
    margin-top: 45px;
    width: 125px;
    height: 83px
  }
  .style2 {
    margin-left: 37px;
    margin-top: 33px;
    width: 95px;
    height: 87px
  }
  .style3,
  .style4 {
    color: rgba(50,50,50,.85);
    font-family: Lato,serif;
    font-size: .8125em;
    margin-left: 43px;
    margin-top: 52px;
    height: 29px
  }
  .style4 {
    margin-left: 30px;
    height: 3px
  }
}
@media (min-width:768px) and (max-width:920px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 768px
  }
  .style0 {
    margin-left: 88px;
    margin-top: 70px;
    width: 170px;
    height: 174px
  }
  .style1 {
    background-color: #42aed2;
    border-left: 0 solid #000;
    border-right: 0 solid #000;
    border-top: 0 solid #000;
    border-bottom: 0 solid #000;
    box-shadow: 0 1px 5px 1px rgba(0,0,0,.2),0 2px 2px 1px rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12);
    color: rgba(255,255,255,.85);
    margin-left: 53px;
    margin-top: 92px;
    width: 256px;
    height: 170px
  }
  .style2 {
    margin-left: 76px;
    margin-top: 68px;
    width: 195px;
    height: 178px
  }
  .style3,
  .style4 {
    color: rgba(50,50,50,.85);
    font-family: Lato,serif;
    font-size: 1.6640000000000001em;
    margin-left: 88px;
    margin-top: 106px;
    height: 59px
  }
  .style4 {
    margin-left: 61px;
    height: 6px
  }
}
@media (min-width:920px) and (max-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 920px
  }
  .style0 {
    margin-left: 105px;
    margin-top: 83px;
    width: 204px;
    height: 209px
  }
  .style1 {
    background-color: #42aed2;
    border-left: 0 solid #000;
    border-right: 0 solid #000;
    border-top: 0 solid #000;
    border-bottom: 0 solid #000;
    box-shadow: 0 1px 5px 1px rgba(0,0,0,.2),0 2px 2px 1px rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12);
    color: rgba(255,255,255,.85);
    margin-left: 64px;
    margin-top: 110px;
    width: 307px;
    height: 204px
  }
  .style2 {
    margin-left: 91px;
    margin-top: 81px;
    width: 233px;
    height: 213px
  }
  .style3,
  .style4 {
    color: rgba(50,50,50,.85);
    font-family: Lato,serif;
    font-size: 1.9933333333333332em;
    margin-left: 105px;
    margin-top: 128px;
    height: 71px
  }
  .style4 {
    margin-left: 74px;
    height: 7px
  }
}
@media (min-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1200px
  }
  .style0 {
    margin-left: 138px;
    margin-top: 109px;
    width: 266px;
    height: 272px
  }
  .style1 {
    background-color: #42aed2;
    border-left: 0 solid #000;
    border-right: 0 solid #000;
    border-top: 0 solid #000;
    border-bottom: 0 solid #000;
    box-shadow: 0 1px 5px 1px rgba(0,0,0,.2),0 2px 2px 1px rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12);
    color: rgba(255,255,255,.85);
    margin-left: 83px;
    margin-top: 144px;
    width: 400px;
    height: 266px
  }
  .style2 {
    margin-left: 118px;
    margin-top: 106px;
    width: 304px;
    height: 278px
  }
  .style3,
  .style4 {
    color: rgba(50,50,50,.85);
    font-family: Lato,serif;
    font-size: 2.6em;
    margin-left: 138px;
    margin-top: 166px;
    height: 93px
  }
  .style4 {
    margin-left: 96px;
    height: 10px
  }
}